.main-nav {
  height: 7rem;
  position: sticky;
  top: 0;
  z-index: 20;
  &-continer {
    box-shadow: 1px 1px 20px -5px black;
    display: flex;
    padding: 0.5rem 1.5rem;
    height: 100%;
    justify-content: space-between;
    background-color: white;
    & .hand-burger-menu {
      font-size: 3rem;
      font-weight: 900;
      transform: rotate(90deg);
      padding: 2rem;
      cursor: pointer;
    }
    &-chiled1 {
      & > img {
        height: 100%;
      }
    }
    &-chiled2 {
      display: flex;
      align-items: center;
      list-style: none;
      & > a {
        color: $textColor;
        text-decoration: none;
        padding: 1rem;
        font-size: 2rem;
        margin: 1rem;
        transition: all 0.4s ease-out;
        &:hover {
          color: rgb(244 94 94 / 95%);
        }
      }
    }
  }
}
